---
title: Evento
script: main
---

<h1 class="section-heading">O Evento</h1>

<section class="content-area">
    <h2 class="heading">Informações Londrina:</h2>

    <ul class="list reset-list">
        <li><strong>Data:</strong> 04/10/2015</li>
        <li><strong>Local:</strong> Aterro do Lago Igapó 2 – Rua Prof. Joaquim de Matos Barretos</li>
        <li><strong>Provas:</strong> 5k – 10k</li>
        <li><strong>Horário de largada:</strong> 8h00</li>
        <li><strong>Retirada de kits e chips:</strong> Show Room A Yoshii Londrina<br>Av. Madre Leonia Milito, 1800<br>sexta das 14h as 18h (02/10)<br>sábado das 9h as 18h (03/10)</li>
    </ul>

    <p class="text">*Não serão entregues kits no dia da prova ou após o evento</p>

    <h2 class="heading">Informações Maringá:</h2>

    <ul class="list reset-list">
        <li><strong>Data:</strong> 07/11/2015</li>
        <li><strong>Local:</strong> Show Room A Yoshii Maringá - Av. São Paulo, 2828</li>
        <li><strong>Provas:</strong> 5k – 10k</li>
        <li><strong>Horário de largada:</strong> 20h00</li>
        <li><strong>Retirada de kits e chips:</strong> Show Room A Yoshii Maringá<br>Av. São Paulo, 2828<br>sexta das 9h as 18h (06/11)<br>sábado das 9h as 13h (07/11)</li>
    </ul>

    <p class="text">*Não serão entregues kits no dia da prova ou após o evento</p>
</section>
