---
title: Evento
script: main
---

<h1 class="section-heading">O Evento</h1>

<section class="content-area">
    <h2 class="heading">Informações Gerais:</h2>

    <ul class="list reset-list">
        <li><strong>Data:</strong> 07/06/2015</li>
        <li><strong>Local:</strong> Autódromo Internacional Ayrton Senna<br>Av. Henrique Mansano, 777 - Londrina</li>
        <li><strong>Provas:</strong> 3km – 6km – 9km</li>
        <li><strong>Horário de largada:</strong> 8h30</li>
        <li><strong>Retirada de kits e chips:</strong> Vectra Store - R. Bento Munhoz da Rocha Neto, 1225<br>sexta das 14h as 20h (05/06)<br>sábado das 9h as 18h (06/06)</li>
    </ul>

    <p><strong><em>*Não serão entregues kits no dia da prova e após o evento</em></strong></p>
</section>
