---
title: Galeria
script: gallery
---

<h1 class="section-heading">Galeria</h1>

<section class="content-area">
    <ul id="gallery" class="gallery reset-list">
        {{#each galeria}}
        <li class="item">
            <a href="/img/eventos/londrina/{{ this }}" class="link">
                <img src="/img/eventos/londrina/150x100/{{ this }}" width="150" height="100" class="thumb">
            </a>
        </li>
        {{/each}}
    </ul>
</section>
