---
title: Kit
style: kit
script: main
---

<h1 class="section-heading">Kit do Atleta</h1>

<section class="content-area">
    <div class="group separator-bottom">
        <figure class="figure flat pos-right">
            <img src="{{ img 'banners/kit.png' }}" class="camisa">
        </figure>

        <h2 class="heading">O kit inclui:</h2>

        <ul class="list reset-list">
            <li>Camiseta 100% Poliamida</li>
            <li>Medalha</li>
            <li>Chip de cronometragem</li>
            <li>Número de peito</li>
        </ul>
    </div>

    <p class="text">*Número de peito - Será entregue com o kit o número de peito dos atletas. Os números serão divididos em 3 cores para diferenciar os atletas por provas (3km – 6km – 9km). Chip de Cronometragem - Será entregue com o kit um chip para cronometragem e classificação dos atletas. O mesmo é descartável e não precisa ser devolvido após a prova. Medalha de participação pós prova</p>
</section>
