---
title: Percurso
style: percurso
script: main
---

<h1 class="section-heading">Percurso</h1>

<section class="content-area group">
    <h2 class="heading">Percurso Londrina:</h2>
    <div class="path">
        <img class="large" src="{{ img 'banners/percurso-lda-single.png' }}" />
    </div>

    <h2 class="heading">Percurso Maringá:<br><img src="{{ img 'ui/prova-noturna.png' }}" alt="Prova noturna" style="margin-top:5px" /></h2>
    <div class="path">
        <img src="{{ img 'banners/percurso-mga-single.png' }}" />
    </div>
</section>
