---
title: Percurso
style: percurso
script: main
---

<h1 class="section-heading">Percurso</h1>

<section class="content-area group">
    <figure class="figure shadowed pos-right">
        <img src="{{ img 'banners/percurso.png' }}" alt="Autódromo de Londrina">
        <figcaption class="caption">Autódromo de Londrina</figcaption>
    </figure>

    <h2 class="heading">Extensão 3.045m:</h2>

    <ol class="list reset-list">
        <li><strong>Curva da Caixa D'água</strong></li>
        <li><strong>Curva do Estádio</strong></li>
        <li><strong>"S"</strong></li>
        <li><strong>Reta Oposta</strong></li>
        <li><strong>Curvão</strong></li>
        <li><strong>Curva do Box</strong></li>
        <li><strong>Curva da Vitória</strong></li>
    </ol>

    <ul class="list null spaced reset-list">
        <li><strong>3K - </strong>1 volta</li>
        <li><strong>6K - </strong>2 voltas</li>
        <li><strong>9K - </strong>3 voltas</li>
    </ul>
</section>
