---
title: A Prova
style: prova
script: main
---

<h1 class="section-heading">A Prova</h1>

<section class="content-area">
    <figure class="figure flat pos-right">
        <img src="{{ img 'banners/autodromo.jpg' }}" alt="O Revesamento">
    </figure>

    <h2 class="heading">Decathlon Night Race:</h2>

    <p class="text">A “DECATHLON NIGHT RACE” surge como uma nova proposta de corrida de rua em Londrina, sendo a primeiro evento do gênero realizado no autódromo da cidade. Trata-se de uma prova especial onde os atletas de Londrina e região terão a oportunidade única de correr em um espaço normalmente reservado aos automóveis e motocicletas. Realizada durante o período noturno, corrida contará com 2 djs na pista e um tocando na arena principal do evento. Indo além de uma simples corrida, será um grande evento diferente que qualquer outro já realizado na cidade. A corrida terá o total de 18,276 km (11.356 milhas) e poderá ser percorrida individualmente, em dupla ou em trio. Por tratar-se de uma corrida de revezamento, além dos aspectos saúde e qualidade de vida, estaremos desenvolvendo a fator “trabalho em equipe”, sendo que haveráuma categoria exclusiva as empresas da cidade que, além de apoiar o esporte e incentivar seus colaboradores a hábitos saudáveis fora do ambiente de trabalho, possam utilizar o evento como uma oportunidade de fortalecimento de sua equipe O evento será realizado no dia 16 de Novembro, com público previsto de 1.500 pessoas, divididas nas categorias mencionadas acima (individual, dupla ou trio).</p>
</section>