---
title: Regulamento
script: main
---

<h1 class="section-heading">Regulamento</h1>

<section class="content-area">
    <h2 class="heading">Informações Gerais:</h2>

    <p class="text">Em 2015 a Construtora A Yoshii comemora 50 anos e desenvolverá algumas ações para celebrar seu aniversário. Dentro da programação de comemoração, foi desenvolvido o projeto A Yoshii Running, que consiste em 2 eventos de corrida de rua a serem realizados em Londrina no dia 4 de outubro e Maringá no dia 7 de novembro.</p>

    <p class="text">Com provas de 5k e 10k, a A Yoshii Londrina contará com percurso em torno do Lago Igapó 2, passando por alguns empreendimentos da construtora na região da Gleba Palhano. Em Maringá, a prova terá largada em frente ao show room da construtora na av. São Paulo, com percurso em torno do Parque do Ingá.</p>

    <h2 class="heading">Regulamento Londrina:</h2>
    <pre><strong>Capítulo I – Categorias</strong>

<strong>Art. 1</strong> - Adultos - A prova é uma competição de pedestrianismo, da qual poderão participar pessoas dos sexos feminino e masculino, divididas nas categorias 5km masculino e feminina e 10km masculino e feminino.:

<table>
    <thead>
        <tr>
            <th>Sexo</th>
            <th>Categorias</th>
            <th>Faixa Etária</th>
            <th>Ano de nasc.</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Masculino / Feminino</td>
            <td>A/M</td>
            <td>de 0 a 19 anos de idade</td>
            <td>nascidos até 1996</td>
        </tr>
        <tr>
            <td>Masculino / Feminino</td>
            <td>B/N</td>
            <td>de 20 a 24 anos de idade</td>
            <td>nascidos de 1995 a 1991</td>
        </tr>
        <tr>
            <td>Masculino / Feminino</td>
            <td>C/O</td>
            <td>de 25 a 29 anos de idade</td>
            <td>nascidos de 1990 a 1986</td>
        </tr>
        <tr>
            <td>Masculino / Feminino</td>
            <td>D/P</td>
            <td>de 30 a 34 anos de idade</td>
            <td>nascidos de 1985 a 1981</td>
        </tr>
        <tr>
            <td>Masculino / Feminino</td>
            <td>E/Q</td>
            <td>de 35 a 39 anos de idade</td>
            <td>nascidos de 1980 a 1976</td>
        </tr>
        <tr>
            <td>Masculino / Feminino</td>
            <td>F/R</td>
            <td>de 40 a 44 anos de idade</td>
            <td>nascidos de 1975 a 1971</td>
        </tr>
        <tr>
            <td>Masculino / Feminino</td>
            <td>G/S</td>
            <td>de 45 a 49 anos de idade</td>
            <td>nascidos de 1970 a 1966</td>
        </tr>
        <tr>
            <td>Masculino / Feminino</td>
            <td>H/T</td>
            <td>de 50 a 54 anos de idade</td>
            <td>nascidos entre 1965 a 1961</td>
        </tr>
        <tr>
            <td>Masculino / Feminino</td>
            <td>I/U</td>
            <td>de 55 a 59 anos de idade</td>
            <td>nascidos entre 1960 a 1956</td>
        </tr>
        <tr>
            <td>Masculino / Feminino</td>
            <td>J/V</td>
            <td>de 60 a 64 anos de idade</td>
            <td>nascidos entre 1955 a 1951</td>
        </tr>
        <tr>
            <td>Masculino / Feminino</td>
            <td>K/X</td>
            <td>de 65 a 69 anos de idade</td>
            <td>nascidos entre 1950 a 1946</td>
        </tr>
        <tr>
            <td>Masculino / Feminino</td>
            <td>L/Y</td>
            <td>de 70 anos acima de idade</td>
            <td>nascidos até 1945</td>
        </tr>
    </tbody>
</table>

<strong>Parágrafo 1</strong> – Para os menores de 18 anos, deve haver declaração dos pais ou responsável, autorizando a participação.

<strong>Parágrafo 2</strong> – Para efeito de classificação das categorias, será levado em conta o ano de nascimento do participante.

<strong>Capítulo II - Data e Local de largada</strong>

<strong>Art. 3</strong> - A A Yoshii Running – Etapa Londrina será realizada no dia 4 de outubro com largada no Aterro do Lago Igapó 2, rua Prof. Joaquim de Matos Barreto – Londrina.

<strong>Art. 4</strong> – A largada das provas de 5k e 10k será feita simultaneamente as 8h00.

<strong>Capítulo III - Premiação</strong>

• Troféus aos 03 primeiros da categoria geral dos 5k e 10k, masculino e feminino (12 no total)
• Medalhão do 1o ao 3o colocados de cada categoria, dos 5km e dos 10km, masculino e feminino (144 no total)
• Troféu para a assessoria/grupo de corrida com maior número de inscritos
• Serão entregues medalhas aos atletas que completarem suas provas

<strong>Capítulo IV - Inscrições</strong>

<strong>Art. 5</strong> - Taxa de Inscrição:
R$ 55 (cinquenta e cinco reais) – até o dia 20 de setembro
R$ 65 (sessenta e cinco reais) – do dia 21 a 30 de setembro

<strong>Art. 6</strong> – Informações sobre inscrições através do site – www.euvoueuvou.com.br

<strong>Art. 7</strong> - Prazo de Inscrição
Término: 30 de setembro de 2015 ou em data anterior, caso seja atingido o número limite de inscrições, que é de 1.100 participantes.

<strong>Capítulo V – Retirada dos Kits</strong>

<strong>Art. 8</strong> – A retirada dos kits acontecerá nos dias 02 de outubro das 14h00 às 18h00 e 03 de outubro das 09h00 às 18h00. Local: Show Room A Yoshii – Av. Madre Leonia Milito, 1800. Não haverá entrega de kits no dia 04.10.2015 ou após o evento.

<strong>Art. 9</strong> - Kit do Atleta – Sacola, Camiseta do evento, Chip e Número de peito
*A escolha da numeração das camisetas será de acordo com a disponibilidade no momento da retirada de kits

<strong>Art. 10</strong> – Somente será permitida a retirada do kit, com apresentação da carteira de identidade ou documento de Fé Publica (ou cópia). O Atleta poderá ser representado pelo seu treinador desde que este esteja com seu documento de identificação original ou cópia.

<strong>Parágrafo Único</strong> – Caso o atleta não retire o kit ou não participe da prova por qualquer motivo, não haverá devolução da taxa de inscrição.

<strong>Capítulo VI – Controle de Prova</strong>

<strong>Art. 11</strong> – A apuração da prova será através do sistema chip descartável:
a) O chip da prova deverá ser usado obrigatoriamente no cadarço do tênis seguindo a orientação de uso presente no mesmo. A utilização inadequada do chip pelo(a) atleta acarreta a não marcação de tempo, isentando a comissão organizadora na divulgação dos
resultados.
b) O atleta que não for registrado no ponto de cronometragem será desclassificado.
c) Em termos de classificação será considerado o tempo bruto para a categoria “geral” e o tempo líquido para as categorias “por idade”

<strong>Capítulo VII – Normas Gerais</strong>

<strong>Art. 12</strong> – Haverá guarda-volumes no local da largada. Não serão aceitos relógios ou aparelhos eletrônicos. Somente bolsas, roupas e calçados.

<strong>Art. 13</strong> – É obrigatório o uso do número de corrida em local visível à frente do corpo do atleta.
Este número é intransferível e não pode sofrer qualquer tipo de alteração, como ser cortado ou dobrado, sob pena do atleta ser desclassificado da prova.

<strong>Art. 14</strong> – Todos os participantes deixam claro que gozam do mais perfeito estado de saúde, eximindo a comissão organizadora da prova, bem como os patrocinadores de quaisquer responsabilidades.

<strong>Art. 15</strong> – No Ato da retirada do Kit o atleta devera assinar declaração eximindo os organizadores e patrocinadores de quaisquer responsabilidades e mudanças no trajeto por ventura possa acorrer (divulgada antes da prova)

<strong>Art. 16</strong> – Todos os atletas participantes deverão obedecer ao percurso estabelecido pela comissão organizadora da prova com penalidade de desclassificação do atleta que não o fizer.

<strong>Art. 17</strong> – A comissão organizadora do evento e os patrocinadores não se responsabilizam por danos ou acidentes que por ventura venham a ocorrer aos atletas antes, durante ou depois do percurso, ficando responsável apenas pelos primeiros socorros.

<strong>Art. 18</strong> – A organização reserva o direito exclusivo de comercializar fotografias e filmagem da prova.

<strong>Art. 19</strong> – No ato da inscrição o atleta está concordando com as condições estipuladas neste regulamento.

<strong>Art. 20</strong> – Os casos omissos ou não previstos que por ventura venham ocorrer serão resolvidos pela comissão organizadora da prova, que é soberana em suas decisões.</pre>

    <h2 class="heading">Regulamento Maringá:</h2>
    <pre><strong>Capítulo I – Categorias</strong>

<strong>Art. 1</strong> - Adultos - A prova é uma competição de pedestrianismo, da qual poderão participar pessoas dos sexos feminino e masculino, divididas nas categorias 5km masculino e feminina e 10km masculino e feminino.:

<table>
  <thead>
      <tr>
          <th>Sexo</th>
          <th>Categorias</th>
          <th>Faixa Etária</th>
          <th>Ano de nasc.</th>
      </tr>
  </thead>

  <tbody>
      <tr>
          <td>Masculino / Feminino</td>
          <td>A/M</td>
          <td>de 0 a 19 anos de idade</td>
          <td>nascidos até 1996</td>
      </tr>
      <tr>
          <td>Masculino / Feminino</td>
          <td>B/N</td>
          <td>de 20 a 24 anos de idade</td>
          <td>nascidos de 1995 a 1991</td>
      </tr>
      <tr>
          <td>Masculino / Feminino</td>
          <td>C/O</td>
          <td>de 25 a 29 anos de idade</td>
          <td>nascidos de 1990 a 1986</td>
      </tr>
      <tr>
          <td>Masculino / Feminino</td>
          <td>D/P</td>
          <td>de 30 a 34 anos de idade</td>
          <td>nascidos de 1985 a 1981</td>
      </tr>
      <tr>
          <td>Masculino / Feminino</td>
          <td>E/Q</td>
          <td>de 35 a 39 anos de idade</td>
          <td>nascidos de 1980 a 1976</td>
      </tr>
      <tr>
          <td>Masculino / Feminino</td>
          <td>F/R</td>
          <td>de 40 a 44 anos de idade</td>
          <td>nascidos de 1975 a 1971</td>
      </tr>
      <tr>
          <td>Masculino / Feminino</td>
          <td>G/S</td>
          <td>de 45 a 49 anos de idade</td>
          <td>nascidos de 1970 a 1966</td>
      </tr>
      <tr>
          <td>Masculino / Feminino</td>
          <td>H/T</td>
          <td>de 50 a 54 anos de idade</td>
          <td>nascidos entre 1965 a 1961</td>
      </tr>
      <tr>
          <td>Masculino / Feminino</td>
          <td>I/U</td>
          <td>de 55 a 59 anos de idade</td>
          <td>nascidos entre 1960 a 1956</td>
      </tr>
      <tr>
          <td>Masculino / Feminino</td>
          <td>J/V</td>
          <td>de 60 a 64 anos de idade</td>
          <td>nascidos entre 1955 a 1951</td>
      </tr>
      <tr>
          <td>Masculino / Feminino</td>
          <td>K/X</td>
          <td>de 65 a 69 anos de idade</td>
          <td>nascidos entre 1950 a 1946</td>
      </tr>
      <tr>
          <td>Masculino / Feminino</td>
          <td>L/Y</td>
          <td>de 70 anos acima de idade</td>
          <td>nascidos até 1945</td>
      </tr>
  </tbody>
</table>

<strong>Parágrafo 1</strong> – Para os menores de 18 anos, deve haver declaração dos pais ou responsável, autorizando a participação.

<strong>Parágrafo 2</strong> – Para efeito de classificação das categorias, será levado em conta o ano de nascimento do participante.

<strong>Capítulo II - Data e Local de largada</strong>

<strong>Art. 3</strong> - A A Yoshii Running – Etapa Maringá será realizada no dia 7 de novembro com largada e chegada no Show Room A Yoshii, av. São Paulo, 2828 – Maringá.

<strong>Art. 4</strong> – A largada das provas de 5k e 10k será feita simultaneamente as 20h00.

<strong>Capítulo III - Premiação</strong>

• Troféus aos 03 primeiros da categoria geral dos 5k e 10k, masculino e feminino (12 no total)
• Medalhão do 1o ao 3o colocados de cada categoria, dos 5km e dos 10km, masculino e feminino (144 no total)
• Troféu para a assessoria/grupo de corrida com maior número de inscritos
• Serão entregues medalhas aos atletas que completarem suas provas

<strong>Capítulo IV - Inscrições</strong>

<strong>Art. 5</strong> - Taxa de Inscrição:
R$ 55 (cinquenta e cinco reais) – até o dia 25 de outubro
R$ 65 (sessenta e cinco reais) – do dia 26 de outubro a 4 de novembro

<strong>Art. 6</strong> – Informações sobre inscrições através do site – www.euvoueuvou.com.br

<strong>Art. 7</strong> - Prazo de Inscrição
Término: 4 de novembro de 2015 ou em data anterior, caso seja atingido o número limite de inscrições, que é de 1.100 participantes.

<strong>Capítulo V – Retirada dos Kits</strong>

<strong>Art. 8</strong> – A retirada dos kits acontecerá nos dias 06 de novembro das 09h às 18h e 07 de novembro das 09h00 às 13h00. Local: Show Room A.Yoshii, av. São Paulo, 2828 – Maringá.

<strong>Art. 9</strong> - Kit do Atleta – Sacola, Camiseta do evento, Chip e Número de peito
*A escolha da numeração das camisetas será de acordo com a disponibilidade no momento da retirada de kits

<strong>Art. 10</strong> – Somente será permitida a retirada do kit, com apresentação da carteira de identidade ou documento de Fé Publica (ou cópia). O Atleta poderá ser representado pelo seu treinador desde que este esteja com seu documento de identificação original ou cópia.

<strong>Parágrafo Único</strong> – Caso o atleta não retire o kit ou não participe da prova por qualquer motivo, não haverá devolução da taxa de inscrição.

<strong>Capítulo VI – Controle de Prova</strong>

<strong>Art. 11</strong> – A apuração da prova será através do sistema chip descartável:
a) O chip da prova deverá ser usado obrigatoriamente no cadarço do tênis seguindo a orientação de uso presente no mesmo. A utilização inadequada do chip pelo(a) atleta acarreta a não marcação de tempo, isentando a comissão organizadora na divulgação dos
resultados.
b) O atleta que não for registrado no ponto de cronometragem será desclassificado.
c) Em termos de classificação será considerado o tempo bruto para a categoria “geral” e o tempo líquido para as categorias “por idade”

<strong>Capítulo VII – Normas Gerais</strong>

<strong>Art. 12</strong> – Haverá guarda-volumes no local da largada. Não serão aceitos relógios ou aparelhos eletrônicos. Somente bolsas, roupas e calçados.

<strong>Art. 13</strong> – É obrigatório o uso do número de corrida em local visível à frente do corpo do atleta.
Este número é intransferível e não pode sofrer qualquer tipo de alteração, como ser cortado ou dobrado, sob pena do atleta ser desclassificado da prova.

<strong>Art. 14</strong> – Todos os participantes deixam claro que gozam do mais perfeito estado de saúde, eximindo a comissão organizadora da prova, bem como os patrocinadores de quaisquer responsabilidades.

<strong>Art. 15</strong> – No Ato da retirada do Kit o atleta devera assinar declaração eximindo os organizadores e patrocinadores de quaisquer responsabilidades e mudanças no trajeto por ventura possa acorrer (divulgada antes da prova)

<strong>Art. 16</strong> – Todos os atletas participantes deverão obedecer ao percurso estabelecido pela comissão organizadora da prova com penalidade de desclassificação do atleta que não o fizer.

<strong>Art. 17</strong> – A comissão organizadora do evento e os patrocinadores não se responsabilizam por danos ou acidentes que por ventura venham a ocorrer aos atletas antes, durante ou depois do percurso, ficando responsável apenas pelos primeiros socorros.

<strong>Art. 18</strong> – A organização reserva o direito exclusivo de comercializar fotografias e filmagem da prova.

<strong>Art. 19</strong> – No ato da inscrição o atleta está concordando com as condições estipuladas neste regulamento.

<strong>Art. 20</strong> – Os casos omissos ou não previstos que por ventura venham ocorrer serão resolvidos pela comissão organizadora da prova, que é soberana em suas decisões.

<strong>Mais Informações:</strong>

Fone de contato: (43) 3026-4534 (Capa Promo | Eventos | MKT Esportivo)
E-mail: <a href="mailto:contato@capapromo.com.br">contato@capapromo.com.br</a>
<a href="http://www.euvoueuvou.com.br" target="_blank">www.euvoueuvou.com.br</a>
<a href="http://www.facebook.com/ayohsiirunning" target="_blank">www.facebook.com/ayohsiirunning</a>
<a href="http://www.ayoshiirunning.com.br" target="_blank">www.ayoshiirunning.com.br</a></pre>
</section>
