---
title: Regulamento
script: main
---

<h1 class="section-heading">Regulamento</h1>

<section class="content-area">
    <h2 class="heading">Regulamento:</h2>
    <h3 class="sub-heading">Informações Gerais.</h3>

    <p class="text">A 2º Corrida Jovem Pan Londrina (www.facebook.com/corridajovempanlondrina) buscará reforçar os propósito de sua primeira edição: proporcionar a população de Londrina e região uma grande manhã de esporte e lazer e trabalhar em prol do combate ao câncer. O evento, a ser realizado no Autódromo Internacional Ayrton Senna , contará com o alto astral da rádio número 1 do Brasil e buscará conscientizar a população sobre uma das doenças que mais mata no mundo, além de destinar parte de sua renda ao Centro de Apoio ao Paciente com Câncer.</p>

    <p class="text">Com provas de 3km (1 volta), 6km (2 voltas) e 9km (3 voltas) no percurso do Autódromo Ayrton Senna, a corrida será realizada no dia 7 de junho e contará com público previsto de 1.300 atletas.</p>

    <pre><strong>Capítulo I – Categorias</strong>

Contaremos com provas de corrida de 3km, 6km e 9km.

<strong>Art. 1</strong> - A prova é uma competição de pedestrianismo, da qual poderão participar pessoas dos sexos feminino e masculino, divididas nas seguintes categorias:

<table>
    <thead>
        <tr>
            <th>Sexo</th>
            <th>Categorias</th>
            <th>Faixa Etária</th>
            <th>Ano de nasc.</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Masculino / Feminino</td>
            <td>A/M</td>
            <td>de 0 a 19 anos de idade</td>
            <td>nascidos até 1996</td>
        </tr>
        <tr>
            <td>Masculino / Feminino</td>
            <td>B/N</td>
            <td>de 20 a 24 anos de idade</td>
            <td>nascidos de 1995 a 1991</td>
        </tr>
        <tr>
            <td>Masculino / Feminino</td>
            <td>C/O</td>
            <td>de 25 a 29 anos de idade</td>
            <td>nascidos de 1990 a 1986</td>
        </tr>
        <tr>
            <td>Masculino / Feminino</td>
            <td>D/P</td>
            <td>de 30 a 34 anos de idade</td>
            <td>nascidos de 1985 a 1981</td>
        </tr>
        <tr>
            <td>Masculino / Feminino</td>
            <td>E/Q</td>
            <td>de 35 a 39 anos de idade</td>
            <td>nascidos de 1980 a 1976</td>
        </tr>
        <tr>
            <td>Masculino / Feminino</td>
            <td>F/R</td>
            <td>de 40 a 44 anos de idade</td>
            <td>nascidos de 1975 a 1971</td>
        </tr>
        <tr>
            <td>Masculino / Feminino</td>
            <td>G/S</td>
            <td>de 45 a 49 anos de idade</td>
            <td>nascidos de 1970 a 1966</td>
        </tr>
        <tr>
            <td>Masculino / Feminino</td>
            <td>H/T</td>
            <td>de 50 a 54 anos de idade</td>
            <td>nascidos entre 1965 a 1961</td>
        </tr>
        <tr>
            <td>Masculino / Feminino</td>
            <td>I/U</td>
            <td>de 55 a 59 anos de idade</td>
            <td>nascidos entre 1960 a 1956</td>
        </tr>
        <tr>
            <td>Masculino / Feminino</td>
            <td>J/V</td>
            <td>de 60 a 64 anos de idade</td>
            <td>nascidos entre 1955 a 1951</td>
        </tr>
        <tr>
            <td>Masculino / Feminino</td>
            <td>K/X</td>
            <td>de 65 a 69 anos de idade</td>
            <td>nascidos entre 1950 a 1946</td>
        </tr>
        <tr>
            <td>Masculino / Feminino</td>
            <td>L/Y</td>
            <td>de 70 anos acima de idade</td>
            <td>nascidos até 1945</td>
        </tr>
    </tbody>
</table>

<strong>Parágrafo I</strong> – Para os menores de 18 anos, deve haver declaração dos pais ou responsável, autorizando a participação.

<strong>Art. 2</strong> – Para efeito de classificação das categorias, será levado em conta o ano de nascimento do participante.

<strong>Capítulo II - Data e Local de largada</strong>

<strong>Art. 3</strong> –  A “2º Corrida Jovem Pan Londrina – Em prol do combate ao câncer”  será realizada no dia 07.06.2015 a partir das 8h30 horas com largada e chegada no Autódromo Internacional Ayrton Senna,
Av. Henrique Mansano, 777 - Londrina

<strong>Capítulo III – Premiação</strong>

•   Troféus aos 03 primeiros da categoria geral dos 3km, 6km e dos 9km, masculino e feminino
(18 no total)

•   Medalhão do1º ao 3º colocados de cada categoria, dos 6km e dos 9km, masculino e feminino
(144 no total)

•   Troféu para a assessoria/grupo de corrida com maior número de inscritos

•   Serão entregues medalhas aos atletas que completarem suas provas

<strong>Parágrafo único</strong> - Não haverá premiação por categoria na prova de 3km

<strong>Capítulo IV – Inscrições</strong>

<strong>Art. 4</strong> - Taxa de Inscrição:

Corrida
R$ 50 (quarenta reais) – até 23/05
R$ 60 (cinquenta reais) – do dia 24/05 ao 03/06
*5 reais de cada inscrição serão doados ao Centro de Atendimento ao Paciente com Câncer

<strong>Art. 5</strong> – Informações sobre inscrições através do site – www.euvoueuvou.com.br

<strong>Art. 6</strong> - Prazo de Inscrição
Término: 03 de junho de 2015 ou em data anterior, caso seja atingido o número limite de inscrições, que é de 1.300 participantes.

<strong>Capítulo V – Retirada dos Kits </strong>

<strong>Art. 7</strong> – A retirada dos kits (número de peito e chip) acontecerá na:

Vectra Store - R. Bento Munhoz da Rocha Neto, 1225 - sexta das 14h as 20h (05/06) e sábado das 9h as 18h (06/06).

Não haverá entrega de Kits no dia 07/06/2015 ou após o evento.

<strong>Art. 8</strong> - Kit do Atleta – Camiseta do evento, medalha de participação (pós evento), chip descartável e número de peito

*A escolha da numeração das camisetas será de acordo com a disponibilidade no momento da retirada de kits

<strong>Art. 9</strong> – Somente será permitida a retirada do kit, com apresentação da carteira de Identidade ou documento de Fé Publica. O Atleta poderá ser representado pelo seu treinador desde que este esteja com seu documento de identificação original.

<strong>Parágrafo Único</strong> – Caso o atleta não retire o kit ou não participe da prova por qualquer motivo, não haverá devolução da taxa de inscrição.

<strong>Capítulo VI – Controle de Prova</strong>

<strong>Art. 10</strong> – A apuração da prova será através do sistema chip descartável:

a)  O chip da prova deverá ser usado obrigatoriamente no cadarço do tênis. A utilização inadequada do chip pelo(a) atleta acarreta a não marcação de tempo, isentando a comissão organizadora na divulgação dos resultados.

b)  O atleta que não for registrado no ponto de cronometragem será desclassificado.

<strong>Capítulo VII – Normas Gerais</strong>

<strong>Art. 11</strong> – Haverá guarda-volumes no local da largada. Não serão aceitos relógios ou aparelhos eletrônicos, somente bolsas, roupas e calçados.

<strong>Art. 12</strong> – É obrigatório o uso do número de corrida em local visível à frente do corpo do atleta. Este número é intransferível e não pode sofrer qualquer tipo de alteração, como ser cortado ou dobrado, sob pena do atleta ser desclassificado da prova.

<strong>Art. 13</strong> – Todos os participantes deixam claro que gozam do mais perfeito estado de saúde, eximindo a comissão organizadora da prova, bem como os patrocinadores de quaisquer responsabilidades.

<strong>Art. 14</strong> – No Ato da retirada do Kit o atleta devera assinar  declaração eximindo os organizadores e patrocinadores de quaisquer responsabilidades  e mudanças no trajeto por ventura possa acorrer (divulgada antes da prova).

<strong>Art. 15</strong> – Todos os atletas participantes deverão obedecer ao percurso estabelecido pela comissão organizadora da prova com penalidade de desclassificação do atleta que não o fizer.

<strong>Art. 16</strong> – A comissão organizadora do evento e os patrocinadores não se responsabilizam por danos ou acidentes que por ventura venham a ocorrer aos atletas antes, durante ou depois do percurso, ficando responsável apenas pelos primeiros socorros.

<strong>Art. 17</strong> – A organização reserva o direito exclusivo de comercializar fotografias e filmagem da prova.

<strong>Art. 18</strong> – No ato da inscrição o atleta está concordando com as condições estipuladas neste regulamento.

<strong>Art. 19</strong> – Os casos omissos ou não previstos que por ventura venham ocorrer serão resolvidos pela comissão organizadora da prova, que é soberana em suas decisões.

<strong>Mais Informações:</strong>

Mais Informações:
Fone de contato: (43) 3026-4534 (Capa Promoções & Eventos)
E-mail: <a href="mailto:contato@capapromo.com.br">contato@capapromo.com.br</a>
<a href="http://www.euvoueuvou.com.br" target="_blank">www.euvoueuvou.com.br</a></pre>
</section>
