---
title: Revezamento
style: revezamento
script: main
---

<h1 class="section-heading">Revezamento</h1>

<section class="content-area group">
    <figure class="figure flat pos-right">
        <img src="{{ img 'banners/revezamento.jpg' }}" alt="O Revezamento">
    </figure>

    <h2 class="heading">Decathlon Night Race:</h2>

    <p class="text">O revezamento será feito através de pulseiras. O primeiro atleta larga com a pulseira, percorre 6km ou 9km, dependendo da categoria, e passa para o próximo companheiro de equipe. Haverá uma área de revezamento após o pórtico de largada onde o próximo atleta estará aguardando para receber a pulseira e fazer o revezamento. O último atleta da equipe termina a prova com a pulseira em seu braço.</p>
</section>