<div class="banner-50">
    <img src="{{ img 'logos/50-anos.png' }}" class="logo">
    <h3 class="heading">A.Yoshii 50 Anos!</h3>
    <p class="text">Este ano a A.Yoshii Engenharia está completando 50 anos, e para comemorar preparamos duas provas sensacionais. Junte-se a nós e chame seus amigos. Dia 04 de outubro em Londrina e dia 07 de novembro em Maringá com prova noturna. Venha correr com a gente!</p>
</div>
