<nav id="mobile-nav" class="main-nav is-mobile"></nav>

<header class="main-header">
    <div class="width-limiter group">
        <div class="grid">
            <div class="g-1-3">
                {{#if isRoot}}
                <h1 class="logo reset">
                    <img src="{{ img 'ui/logo.png' }}" alt="A.Yoshii Running 2015">
                </h1>
                {{else}}
                <a href="/" class="logo" title="Home">
                    <img src="{{ img 'ui/logo.png' }}" alt="A.Yoshii Running 2015">
                </a>
                {{/if}}
            </div>

            <div class="g-2-3">
                <div class="grid sign-up">
                    <div class="g-1-2">
                        <a href="http://www.euvoueuvou.com.br/eventos/ver/104/ayoshii-running-londrina/" target="_blank" class="button-pill orange">Inscrições <strong>Londrina</strong></a>
                        <p class="info">Até 30/09</p>
                    </div>

                    <div class="g-1-2">
                        <a href="http://www.euvoueuvou.com.br/eventos/ver/105/ayoshii-running-maringa/" target="_blank" class="button-pill orange">Inscrições <strong>Maringá</strong></a>
                        <p class="info">Até 04/11</p>
                    </div>
                </div>

                <div class="row">
                    <h2 class="banner-heading"><em>Londrina:</em> 04 de outubro</h2>
                    <h2 class="banner-heading"><em>Maringá:</em> 07 de novembro</h2>
                </div>
            </div>
        </div>
    </div>
</header>
