body
    background: $c-bg
    font-family: $f-sans
    line-height: 1

    +breakpoint(medium)
        background-image: none

.main-wrapper
    +linear-gradient(to top, $c-bg, #fff 750px)
    overflow: hidden
