.contato
    .content
        margin: $u*6 0

        +breakpoint(medium)
            margin-bottom: 0

        > .g-1-2
            vertical-align: top

    .greeting
        margin-top: 0
        padding-right: $u*10

    .form
        padding-right: $u*8

        +breakpoint(medium)
            padding: $u*4 0 0

.percurso
    .path
        img
            display: block
            margin: auto

            +breakpoint(medium)
                width: 100%

            &.large
                margin-left: -$u*17

                +breakpoint(medium)
                    margin-left: 0

.revesamento, .prova
    .figure
        $p: -$u*6
        margin: $p $p $u*2 $u*2

.revezamento
    .text
        line-height: 2rem

.home
    .figure
        display: inline-block
        margin-bottom: $u*2

        +breakpoint(medium)
            display: none

    .event.left
        float: left
        width: 72%

        +breakpoint(medium)
            float: none
            width: 100%
            display: block
            margin-bottom: 0

    .event.right
        float: right
        width: 28%
        text-align: right

        +breakpoint(medium)
            display: none

    .event
        margin-bottom: $u*4

        .info
            color: #fff
            font-size: 20px
            line-height: 1.7em
            margin-top: $u*3
            text-transform: uppercase

    .banner-simple
        margin-bottom: 0

        .text
            font-size: 24px

    .map
        &.lda
            margin-top: $u*10

            +breakpoint(medium)
                margin-top: $u*4

            .section-subheading
                margin-bottom: -$u*8
                text-align: right

                +breakpoint(medium)
                    margin-bottom: 0
                    text-align: center

        &.mga
            .section-subheading
                margin-bottom: $u*3

        img
            +breakpoint(medium)
                display: block
                width: 100%

    .kit-grid
        margin-top: $u*8

.inscricao
    iframe
        margin: 0 (-$u*4)
        @include size(710px 430px)

.kit
    .camisa
        margin: 0 (-$u*18) 0 (-$u*6)

        +breakpoint(medium)
            margin: 0
            display: block
            width: 100%
