// units
$u: 5px
$t: 0.2s linear
$b: 2px dotted #fff
$b-s: 1px dotted #fff

// fonts
$f-sans: Lato, sans-serif

// colors
$c-purple: #43436d
$c-orange: #f58220
$c-yellow: #feee00
$c-blue:   #00488c
$c-red:    #ed1c24
$c-green:  #d3dc40
$c-bg:     #eaeaea

// paths
$p-images: '../img/ui/'
